
.parent {
    width: 100vw;
    height: 200px;
    font-size: min(max(5vw, 5vw), 3rem); /*responsive text*/
    background-color: red;

}

.child {
    background-color: green;
    width: 50%; /*50% of 100vw*/
    height: 100px;
    font-size: 50%; /*50% of 5vw similar to using 0.5em which is 0.5 from parent font-size*/
}

body {
    background-color: black;
}