

html { 
    box-sizing: border-box; 
    font-size: 14px;

}

*, *::before, *::after { 
    box-sizing: inherit;
    margin: 0; padding: 0; 
    font-family: 'Amazon Ember', Arial, sans-serif;

}

body {
}



:root {
    --dark-blue: #131921;
    --light-blue: #232f3e;
    --search-yellow: #febd69;
    --search-cat-bg: #e6e6e6;
    --search-cat-border: #cdcdcd;
    --search-cat-text: #5a5b5b;
    --link-color-to-top: #37485b;
    --link-color-to-top-hover: #48586a;

    --footer-text-grey1: #dddddd;
    --footer-text-grey2: #cccccc;
    --footer-text-grey3: #999999;

    --grey-shadow1: #dddddd8f;
    --sort-button-grey: #F0F2F2;
    --sort-button-grey-hover: #e8e4e4;
    --sort-button-grey-border: #D5D9D9;
    --sort-button-text: #0F1111;


    --product-list-text: #565959;
    --product-rating-blue: #007185;
    /* #f4e40a */
}


.caret-up-white {
    border-left: solid 4px transparent; 
    border-right: solid 4px transparent; 
    border-bottom: solid 4px #fff; 
    height: 0; 
    width: 0;
}

.select-caret-down::after {
    content: "";
    position: absolute;
    top: -1px;
    right: 0.25rem;
    border-left: solid 4px transparent; 
    border-right: solid 4px transparent; 
    border-top: solid 4px var(--search-cat-text); 
}

.select-caret-down {
    position: relative;
}
  
.sr-only {
    color: transparent;
}