main {
    display: flex;
    flex-direction: column;
    height: auto;
}

.main__main__wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.main__main__content {
    width: 100%;
    /* background-color: red; */
    /* max-width: 450px; */
    min-width: 350px;
    max-width: 950px;


    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.75rem 2rem 0.75rem;


}


/*
///////////////////////////////////////////////////////////////////
Row 1
*/


.main__main__content__top-link--container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.4rem;
    /* border: 1px solid rgba(0, 0, 0, 0.076); */
}


.main_link {
    text-decoration: none;
    color: var(--product-rating-blue);

}

.main_link:hover {
    text-decoration: underline;
    color: var(--active-link);

}

.active_link {
    color: var(--active-link);
    pointer-events: none;
}



/*
///////////////////////////////////////////////////////////////////
Row 2
*/


.main__main__content__orders-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    height: 4rem;
    align-items: center;

}

.main__main__content__orders-header--header {
    font-weight: 400;
    margin-right: auto;
}

.main__main__content__orders-header--search__container {
    /* width: 200px; */
    /* border: 1px solid red; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    width: 100%;


}

.main__main__content__orders-header--search--field--container {
    /* position: relative; */
    /* display: flex;
    flex-direction: row; */
    /* width: 100%; */
    /* flex: 1; */


}

.main__main__content__orders-header--search--field--container2 {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    width: 100%;
    /* background-color: red; */
}

.logo_container {
    position: relative;
    /* flex: 1; */
    /* background-color: red; */
}

.main__main__content__orders-header--search--logo {
    background-image: url("../img/search-button2.png");
    height: 1.5rem;
    width: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    top: 100%;
    margin-top: -0.4rem;
    left: 0.4rem;
    z-index: 2;
    flex: 0;

}

.main__main__content__orders-header--search--field {
    appearance: none;
    height: 2.2rem;
    padding-left: 1.9rem;
    border: 1px solid var(--orders-search-field-border);
    box-shadow: 0 1px 2px rgba(15,17,17,.15) inset;
    /* -webkit-appearance: textfield; */
    border-radius: 4px;
    /* width: 100%; */
    /* max-width: 331px; */
    /* position: relative; */
    min-width: 60vw;
    flex: 1;


}

.main__main__content__orders-header--search--field:focus {

    background-color: var(--orders-search-field-hover-bg);
    outline: 2px solid var(--orders-search-field-hover-border);
}


.main__main__content__orders-header--search--button {
    height: 2.1rem;
    background-color: black;
    border: 1px solid black;
    color: white;
    margin: 0 0.5rem;
    border-radius: 100px;
    padding: 0.2rem 0.6rem;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    font-weight: 600;
    min-width: 7.7rem;
    flex: 0;


}





/*
///////////////////////////////////////////////////////////////////
Row 3
*/




.main__main__content__orders__page-tabs {
    width: 100%;
    height: 2.5rem;
}

.page-tabs__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    border-bottom: 1px solid var(--footer-text-grey1);
    height: 100%;
    font-weight: 500;
}


.page-tabs__tab {
    text-decoration: none;
    color: var(--product-rating-blue);
    height: 104%;
    display: block;
    padding-top: 0.75rem;
    /* border: 1px solid red; */
    text-align: center;
    font-size: min(4vw,1rem);

}


.page-tabs__tab-active {
    border-bottom: 2px solid var(--active-link);
    color: black;
}

.page-tabs__tab:hover, .page-tabs__tab:focus {
    color: var(--active-link);
}




.main__main__content__orders__orders-amount {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

}

.main__main__content__orders-header--search__container {

    height: 100%;
}

.main__main__content__orders-header--search--field--container {
    /* position: relative; */
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;

}

.orders_amount__filter__container {
    position: relative;
}

.orders_amount__filter {
    appearance: none;
    border-radius: 8px;
    border: 0px;
    background: var(--sort-button-grey);
    box-shadow: 0 2px 5px rgba(15,17,17,.15);
    cursor: pointer;
    padding: 0.5rem 1.75rem 0.5rem 0.75rem;
    border: 1px solid var(--sort-button-grey-border);
    color: var(--sort-button-text);
}




.order_amount__filter--logo {
    background-image: url("../img/caret-down.png");
    height: 0.8rem;
    width: 0.8rem;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    margin-top: -0.3rem;
    right: 0.6rem;

}




/*
///////////////////////////////////////////////////////////////////
Row 4
*/

/*///////////////////////////////////////
top header
*/

.main__main__content__orders__results__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.main__main__content__orders__result__container {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--sort-button-grey-border);
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    max-width: 920px;
}


.orders__result--header-area {
    background-color: var(--sort-button-grey);
    padding: min(2vw,1rem) min(2vw, 1.5rem);

}

.orders__result--header--list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.orders__result--header--list--item {
    color: var(--product-list-text);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70px;

}

.orders__result--header--list--item:nth-child(2) {
    max-width: 60px;

}

.orders__result--header--list--item:last-child {
    max-width: 140px;
    justify-self: flex-end;
    margin-left: auto;

}   

.orders__result--header--list--item h3 {
    text-transform: uppercase;
    /* color: var(--product-list-text); */
    font-size: 0.8rem;
    font-weight: 400;
    /* margin-bottom: 0.5rem; */
}

.orders__result--header--list--item:last-child {
    text-align: right;
}

.orders__result--header--list--item a {
    text-decoration: none;
    color: var(--product-rating-blue);
    font-size: 1rem;
    font-weight: 400;
    vertical-align: middle;

}

.orders__result--header--list--item a:last-child {
    display: block;
}

.orders__result--header--list--item--order-details--separator {
    opacity: 0.2;
}


/*///////////////////////////////////////
items area
*/

.orders__result--items--container {
    padding: 1rem 1.5rem 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 0.5rem;

}


/*///////////////*/
.orders__result--items--header {
    width: 100%;
    padding-bottom: 0.5rem;
}

.orders__result--items--header h2 {
    font-size: 1.3rem;

}

.orders__result--items--header p {

}

/*///////////////*/
.orders__result--items {
    flex:1;
    /* margin: 0.5rem 0 0.5rem 0; */
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.orders_result--item {
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgba(0, 0, 0, 0.041); */
    /* margin-bottom: 1rem; */
    max-height: 119px;

}


.orders__result--item--image {
    /* flex:1; */
    /* background-color: var(--sort-button-grey); */
    /* border: 1px solid red; */
    max-width: 90px;
    max-height: 90px;

}

.orders__result--item--image img {
    /* max-height: 100%; */
    max-width: 100%;
}


.orders__result--item--description {
    /* flex: 2; */
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* padding-top: 0.25rem; */


}

.orders__result--item--description--title  {
    font-size: 1.0rem;
    font-weight: 400;
    max-width: 57vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: var(--product-rating-blue);

}

.orders__result--item--description--note {
    font-size: 0.85rem;
    font-weight: 400;
}

.orders__result--item--description--links {
    flex: 2;
    /* margin-top: 1rem; */
}

.orders__result--item--description--links button {
    padding: 0.5rem 0.6rem;
    font-size: 0.8rem;
}

.orders__result--item--description--links button:last-child {
    margin-left: 0.5rem;
}


.yellow-button {
    border-radius: 7px;
    border: 1px solid var(--button-yellow-border);
    background-color: var(--button-yellow);
    font-weight: 400;
    box-shadow:  0 2px 5px 0 rgba(213,217,217,.5);
    cursor: pointer;
    color: var(--sort-button-text);
    text-decoration: none;

}

.yellow-button:hover {
    background-color: var(--button-yellow-hover);
    border: 1px solid var(--button-yellow-hover-border);
}

.white-button {
    border-radius: 7px;
    background-color: var(--button-white);
    border: 1px solid var(--button-white-border);
    font-weight: 400;
    box-shadow:  0 2px 5px 0 rgba(213,217,217,.5);
    color: var(--sort-button-text);
    text-decoration: none;

}

.white-button:hover {
    background-color: var(--button-white-hover);
    border: 1px solid var(--button-white-hover-border);

}


/*
///////////////////////////////////////////////////////////////////
Row 5
*/

.orders__result--item--description--links button {
    /* font-size: 0.9rem; */
}


.orders__result--control-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.orders__result--control-links--link {
    padding: 0.25rem 0.5rem;
    text-align: center;
    white-space: nowrap;
    width: 48%;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    font-size: 0.9rem;

}



.main__main__content__orders-header--search--field {
    max-width: 250px;
}

.main__main__content__orders-header--search--field--container2 {
    display: flex;
    flex-direction: row;
}



@media screen and (min-width: 450px) {

        
    .orders__result--header--list {
        gap: 1rem;

    }

    .orders__result--header--list--item {
        max-width: none;

    }

    .orders__result--header--list--item:nth-child(2) {
        max-width: none;

    }

    .orders__result--header--list--item:last-child {
        max-width: none;

    }   

    .orders__result--item--description--links button {
        padding: 0.5rem 0.6rem;
        font-size: 0.9rem;
    }
    
        
}


.orders__result--header--list--item--order-details--separator {
    display: none;
}

@media screen and (min-width: 515px) {
    .orders__result--header--list--item--order-details--separator {
        display: inline;
    }

    .orders__result--header--list--item a:last-child {
        display: inline;
    }
    

}




@media screen and (min-width: 530px) {


    .main__main__content__orders-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    .main__main__content__orders-header--header {
        white-space: nowrap;
        /* margin-right: 1rem; */
    }

    .main__main__content__orders-header--search--field--container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
    }

    .main__main__content__orders-header--search--field--container2 {
        justify-content: flex-end;
        width: auto;
    }

    .main__main__content__orders-header--search--field {
        /* width: 200px; */
        /* flex: 1; */
        /* width: 100%; */
        /* min-width: 200px; */
        /* min-width: auto; */
        min-width: 250px;
    }

    .logo_container {
        /* width: 20px;
        height: 2px; */
        background-color: rgba(172, 255, 47, 0.53);
    }

    .main__main__content__orders-header--search--logo {
        background-image: url("../img/search-button2.png");
        height: 1.5rem;
        width: 1.5rem;
        background-size: contain;
        background-repeat: no-repeat;
    
        position: absolute;
        top: 50%;
        margin-top: -6px;
        left: 0.5rem;
        z-index: 2;
        
    
    }
    
    .main__main__content__orders-header--search--button {
        /* min-width: 120px; */
    }

    .page-tabs__list { 
        justify-content: flex-start;
        gap: 2rem;
        padding-left: 2rem;
    }

    .page-tabs__tab {
    }
    

    
}    


@media screen and (min-width: 700px) {

    .main__main__content {
        /* max-width: 920px; */
    }

    .main__main__content__orders__result__container {
        /* max-width: 920px; */
    }

    .orders__result--items--container {
        /* padding: 0.5rem; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: space-between;
    
    }

    .orders__result--items--header {
        width: 100%;
    }
    
    .orders__result--items {
        flex: 2;
        max-width: 700px;

    }

    .orders__result--control-links {
        /* flex: 1; */
        flex-direction: column;
        justify-content: flex-start;
        width: fit-content;
        margin-top: -3.6rem;
    }

    .orders__result--control-links--link {
        width: 100%;
        width: 218px;
        padding: 0.4rem 0;
    }

    
.orders__result--item--description--title  {
    /* font-size: 1.15rem; */
    font-weight: 400;
    max-width: 57vw;
    height: fit-content;
    /* text-overflow: ellipsis; */
    overflow: hidden;
    white-space: normal;
    text-decoration: none;
    color: var(--product-rating-blue);

}


.orders__result--item--description--links {
    margin-top: 0;
    font-size: 1rem;
}

.main__main__content__orders-header--search--field {
    min-width: 331px;
}


.page-tabs__tab {
    padding: 0.75rem;
}

button.yellow-button {
    position: relative;
    padding-left: 3rem;
}

button.yellow-button::before {
    content: "";
    background-image: url("../img/buy-again.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 1.9rem;
    width: 1.9rem;
    top: 0.1rem;
    left: 0.2rem;
    position: absolute;
    z-index: 2;
}


}