/*

















*/


.box {
    background-color: #23424A;
    display: flex;
    flex-direction: row;
}


.inner-box1, .inner-box2, .inner-box4 {
    background-color: #38CFD9;
    border: 2px solid white;    
}

.inner-box1, .inner-box3 {
    flex-grow: 0.4;
    max-width: 150px;
}

.inner-box2 {
    flex-grow: 1;
}

.inner-box4 {
    flex-grow: 0.2;
    max-width: 75px;

}
