
main {
    height: auto;
    padding-bottom: 4rem;
    margin: 0;
}

.main__main__top-bar {
    width: 100%;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /*for caret*/

    border-top: 1px solid var(--footer-text-grey2);
    border-bottom: 1.5px solid var(--footer-text-grey2);
    padding: 0.75rem;
    box-shadow: 0px 3px 7px 0px var(--grey-shadow1);
    /* box-shadow: inset 0px 3px 7px 0px #dddddd8f; */

}


.main__main__top-bar--sort {
    appearance: none;
    border-radius: 8px;
    background-color: var(--sort-button-grey);
    border: 1px solid var(--sort-button-grey-border);
    color: var(--sort-button-text);
    padding: 0.3rem 0.6rem;
    padding-right: 1rem; /*for caret*/
    font-size: 0.8rem;
    box-shadow: 0 2px 5px rgba(15,17,17,.15);
    -webkit-box-shadow: 0 2px 5px rgba(15,17,17,.15); 
    -moz-box-shadow: 0 2px 5px rgba(15,17,17,.15);
}

.main__main__top-bar--sort:hover {
    background-color: var(--sort-button-grey-hover);
    
}

.main__main__top-bar-container {
    max-width: 1500px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;


}



/*///////////////////////////////////////////////////////////////*/




.main__main__products-list {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* max-width: 800px; */
    min-width: 350px;
    align-items: center;

}

.main__main__products-list--text {
    color: var(--product-list-text);
    font-size: 0.8rem;
    /* margin-right: auto; */
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.main__main__products-list--text--header {
    display: none;
}

.main__main__products-list--text p {
    margin-right: auto;
}

/*///////////////////////////////*/

.main__main__products-list--item {
    border: 1px solid rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    /* padding: 0.5em; */
    max-height: 14rem;
    /* font-size: 1em; */
    /*0.8 200's - 400's 1, 550 1.2 */
    /* width: 90%; */

}


.main__main__products-list--item--image--container {
    max-height: 13em;
    padding: 0.5em;
    background-color: rgb(246, 246, 246);

}

.main__main__products-list--item--image {
    /* height: 100%; */
    max-height: 10em;

}



.main__main__products-list--item--description {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 0.4em; */
    /* padding: 0.5em 0; */
    /* font-size: 0.5em; */
    padding: 0.4em 0.4em 0.4em 0.4em ;
    justify-content: flex-start;
    gap: 0.2em;


}

.main__main__products-list--item--description--header-link {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 0.9em;
}

.main__main__products-list--item--description--color {
    border: 0;
    background-color: var(--footer-text-grey1);
    padding: 0.25em 0.5em 0.25em 0.5em;
    width: fit-content;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 0.6em;
}

.main__main__products-list--item--description--rating > * {
    cursor: pointer;
}

.main__main__products-list--item--description--rating--rate {
    color: var(--product-rating-blue);
    font-weight: 300;
    font-size: 0.6em;

}

.main__main__products-list--item--description--rating--stars {
    font-size: 0.5em;
}

.main__main__products-list--item--description--rating--number {
    font-weight: 200;
    font-size: 0.6em;


}

.main__main__products-list--item--description--price {
    display: flex;
    gap: 0.1em;
    font-size: 1em;

}

.main__main__products-list--item--description--price--currency,
.main__main__products-list--item--description--price--decimal {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 300;
    padding-top: 0.25em;
}


.main__main__products-list--item--description--price--number {
    /* font-size: 1.5em; */
}


.main__main__products-list--item--description--sold {
    font-size: 0.7em;

}

.main__main__products-list--item--description--available {
    font-weight: 200;
    font-size: 0.7em;
}


.main__main__products-list--item--description-buttons button {
    /* padding: 0.1em 0.6em 0.15em 0.5em; */
    padding: 0;
    border-radius: 2px;
    /* border: 1px solid var(--button-white-border); */
    border:  0;


    font-size: 0.8em;

}

.main__main__products-list--item--description-buttons button a {
    text-decoration: none;
    color: var(--sort-button-text);
}


.main__main__products-list--item--description-buttons-edit,
.main__main__products-list--item--description-buttons-delete,
.main__main__products-list--item--description-buttons-add {
    padding: 0.1em 0.6em 0.15em 0.5em;
    border: 0;
    /* border-radius: 2px; */
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    font-size: 0.8em;


}


.white-button-admin {
    /* border-radius: 7px; */
    background-color: var(--button-white);
    /* border: 1px solid var(--button-white-border); */
    font-weight: 400;
    box-shadow:  0 0px 2px 0 rgba(213,217,217,.5);
    color: var(--sort-button-text);
    text-decoration: none;


}

.white-button-admin a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    height: 100%;
    width: 100%;
    padding: 0.1em 0.6em 0.15em 0.5em;
    border-radius: 2px;
    border: 1px solid var(--button-white-border);


}


.white-button-admin a:hover {
    background-color: var(--button-white-hover);
    border: 1px solid var(--button-white-hover-border);

}

.white-button-admin--clicked {
    outline:2px solid var(--link-click-outline2);
    outline-offset:  2px;
    box-shadow: 
    0px 0px 4px 5px var(--link-click-outline2-shadow);
    border: 1px solid var(--button-white-border);


    
}



.main__main__products-list--item--description-buttons-edit {

    /* background-color: rgba(255, 238, 0, 0.85); */
    /* color: rgba(55, 55, 55); */
    border-left: 0.2em solid rgba(255, 238, 0.6);
}

.main__main__products-list--item--description-buttons-delete {
    /* background-color: rgba(234, 0, 23, 0.7); */
    /* color: white; */
    border-left: 3px solid rgba(234, 0, 23, 0.6);
}

.main__main__products-list--item--description-buttons-add {
    /* background-color: rgba(1, 110, 72, 0.85); */
    /* color: white; */
    border-left: 3px solid rgba(1, 110, 72, 0.6);

}

.main__main__products-list--item--description-buttons-edit:hover,
.main__main__products-list--item--description-buttons-edit:focus {

    border-left: 0.2em solid rgb(255, 247, 0.3);
}

.main__main__products-list--item--description-buttons-delete:hover,
.main__main__products-list--item--description-buttons-delete:focus {
    border-left: 3px solid rgba(234, 0, 23, 1);
}

.main__main__products-list--item--description-buttons-add:hover,
.main__main__products-list--item--description-buttons-add:focus {
    border-left: 3px solid rgba(1, 110, 72, 1);
}





.main__main__side-list {
    display: none;
}


    .main__main__products-list--item--description > * {
        flex: 1
        
    }

    .main__main__products-list--item--description--spacer {
        flex: 2;
        width: 100%;
    }

    



    
    
.main__main__products-list--text--content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.add-new-product-link {
    height: 1.75rem;
    border-radius: 7px;
    border: 1px;
    border-color: var(--button-yellow2);
    background-color: var(--button-yellow2);
    font-weight: 400;
    box-shadow: 2px 2px 4px 1px rgba(245, 245, 245, 0.5);
    /* margin-bottom: 1rem; */
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.add-new-product-link:focus, .add-new-product-link:hover {
    background-color: var(--button-yellow-hover);
    border: 1px solid var(--button-yellow-hover-border);
    cursor: pointer;

}



@media only screen and (min-width: 400px) { 

    .main__main__products-list--item--image--container {
        height: 100%;
        max-height:20rem;

    }

    .main__main__products-list--item--image {
        /* max-height: 13em; */
        /* max-height: 10em; */
        height: 100%;
        max-height: 12em;

    }

    .main__main__products-list--item--description {
        font-size: 1.1em;
        padding: 0.7em 0.7em 0.7em 0.7em ;

    }

    

    .main__main__products-list--item--description-buttons-edit,
    .main__main__products-list--item--description-buttons-delete,
    .main__main__products-list--item--description-buttons-add {
        padding: 0.15em 0.6em;
        border-radius: 2.5px;
        font-size: 0.9em;
    
    
    }




}





@media only screen and (min-width: 550px) {

    .main__main__products-list--text--content-wrapper {
 
        flex-direction: row;
    }

    .add-new-product-link {
        margin: 0;
        margin-right: 1rem;
    }

    .main__main__products-list--item {
        max-height: 20rem;
    }


    .main__main__products-list--item--image {
        /* max-height: 13em; */
        /* max-height: 10em; */
        max-height: 15em;

    }
    .main__main__products-list--item--description--header-link {
        font-size: 1.2em;
    }

    .main__main__products-list--item--description-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 0.5em;
    }



.main__main__products-list--item--description--color {

    font-size: 0.8em;
}


.main__main__products-list--item--description--rating--rate {
    font-weight: 300;
    font-size: 1em;

}

.main__main__products-list--item--description--rating--stars {
    font-size: 1em;
}

.main__main__products-list--item--description--rating--number {
    font-size: 1em;


}

.main__main__products-list--item--description--price {
    gap: 0.15em;

}

.main__main__products-list--item--description--price--currency,
.main__main__products-list--item--description--price--decimal {
    font-size: 0.8em;
    font-weight: 300;
    padding-top: 0.6em;
}


.main__main__products-list--item--description--price--number {
    font-size: 1.8em;
}


.main__main__products-list--item--description--sold {
    font-size: 1em;

}

.main__main__products-list--item--description--available {
    font-size: 1em;
}


.main__main__products-list--item--description-buttons-edit,
.main__main__products-list--item--description-buttons-delete,
.main__main__products-list--item--description-buttons-add {
    font-size: 1.1em;


}





}

/*///////////////////////////////////////////////////////////////*/

@media only screen and (min-width: 900px) {

    .main__main__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0.5rem;

    }

    .main__main__products-list--text {
        width: 100%;
        max-width: 1500px;
        display: inline;
        font-size: 1rem;
    }

    .main__main__products-list--text--header {
        display: block;
        font-size: 1.3rem;
        color: black;
    }


    .main__main__content {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1500px;
    }

    .main__main__products-list {
        align-items: flex-start;
        flex: 1;
        padding-right: 0;
        min-height: 80vh;
        
    }

    .main__main__products-list--item {
        width: 100%;
    }

    .main__main__products-list--item--description--header-link {
        font-weight: 400;
    }


    .main__main__side-list {
        display: block;
        width: min(25vw, 250px);
        margin-top: 1rem;
        padding-left: 1rem;
        border-right: 1px solid var(--footer-text-grey1);
    }


    .main__main__side-list--header {
        font-size: 1rem;
        color: var(--side-cat-grey1);
    }

    .main__main__side-list--list {
        width: 100%;


    }

    .main__main__side-list--list-item {
        list-style-type: none;
        margin: 0.5rem 0;

    }

    .main__main__side-list--list--item-link {
        text-decoration: none;
        color: var(--side-cat-grey2);
    }
    
}

