
    <footer class="main-footer" id="main-footer">

        <nav class="main-footer__content-scrollLink" aria-label="Back to top of page">
            <!-- <i class="fa fa-caret-up" style="font-size:13px"></i> -->
            <div class="caret-up-white"></div>
            <a href="#main-navigation">Back to top</a>
        </nav>

        <nav class="main-footer__content-links1-mobile" aria-label="links area about account control">
            <a href="#footer_links_2" aria-label="skip to next link area" class="sr-only">next</a>
            <ul class="main-footer__content-links1-mobile-list">
                <li><a href="">Your Account</a></li>
                <li><a href="">Your Addresses </a></li>
                <li><a href="">Your amazon.eg</a></li>
                <li><a href="">Sell</a></li>
                <li><a href="">Customer Service</a></li>

            </ul>

            <ul class="main-footer__content-links1-mobile-list">
                <li><a href="">Your Orders</a></li>
                <li><a href="">Your Lists</a></li>
                <li><a href="">Browsing History</a></li>
                <li><a href="">Returns</a></li>
            </ul>
        </nav>

        

        <div class="main-footer__content-links1-wrapper">
        <nav class="main-footer__content-links1" aria-label="link area contains more about amazon, account access, sell with amazon, help links">
            <a href="#footer_links_2" aria-label="skip to next link area" class="sr-only">next</a>
            <ul class="main-footer__content-links1-list">
                <li><h3>header</h3></li>
                <li><a href="">Your Account</a></li>
                <li><a href="">Your Addresses </a></li>
                <li><a href="">Your amazon.eg</a></li>
                <li><a href="">Sell</a></li>
                <li><a href="">Customer Service</a></li>

            </ul>

            <ul class="main-footer__content-links1-list">
                <li><h3>header</h3></li>
                <li><a href="">Your Account</a></li>
                <li><a href="">Your Addresses </a></li>
                <li><a href="">Your amazon.eg</a></li>
                <li><a href="">Sell</a></li>
                <li><a href="">Customer Service</a></li>

            </ul>

            <ul class="main-footer__content-links1-list">
                <li><h3>header</h3></li>
                <li><a href="">Your Account</a></li>
                <li><a href="">Your Addresses </a></li>
                <li><a href="">Your amazon.eg</a></li>
                <li><a href="">Sell</a></li>
                <li><a href="">Customer Service</a></li>

            </ul>


            <ul class="main-footer__content-links1-list">
                <li><h3>header</h3></li>
                <li><a href="">Your Orders</a></li>
                <li><a href="">Your Lists</a></li>
                <li><a href="">Browsing History</a></li>
                <li><a href="">Returns</a></li>
            </ul>
        </nav>
        </div>


        <div  aria-label="" class="sr-only" id="footer_links_2"></div>
        <nav class="main-footer__content-links2" id="" aria-label="language and region control">
            <a href="#footer_links_3" aria-label="skip to next link area" class="sr-only">next</a>
            <ul class="main-footer__content-links2-list" >
                <li class="main-footer__content-links2-list-logo">
                    <a href="" id="footer-logo"></a>
                </li>
                <li>
                    <a href="" class="main-footer__content-links2-list-item1" aria-label="language selection">
                        <span class="globalLanguageIcon"></span>
                        <span class="globalLanguage"></span>
                        <span class="select-caret-down"></span>
                    </a>
                </li>
                <li>
                    <a href="" class="main-footer__content-links2-list-item2" aria-label="country selection">
                        <span class="globalCountryFlag"></span>
                        <span class="globalCountry"></span>
                    </a>
                </li>
            </ul>
        </nav>


        <div class="main-footer__content-signin mobile_only">
            <p>Already a customer ? <a href="" aria-label="sign in link">Sign in</a></p>
        </div>

        <div id="footer_links_3" aria-label="" class="sr-only"></div>
        <div class="main-footer__content-description-wrapper" id="">
        <nav class="main-footer__content-description" aria-label="links area more on amazon">
            <a href="#footer_links_4" aria-label="skip to next link area"></a>
            <table collapsing="0">
                <tbody>
                    <tr>
                        <td class="footer__content-description-data">
                            <a href="">
                                Amazon Advertising
                            </a>
                            <span>
                                Find, attract and engage customers
                            </span>
                        </td>

                        <td class="footer__content-description-space"></td>

                        <td class="footer__content-description-data">
                            <a href="">
                                Amazon Advertising
                            </a>
                            <span>
                                Find, attract and engage customers
                            </span>
                        </td>

                        <td class="footer__content-description-space"></td>

                        <td class="footer__content-description-data">
                            <a href="">
                                Amazon Advertising
                            </a>
                            <span>
                                Find, attract and engage customers
                            </span>
                        </td>

                        <td class="footer__content-description-space"></td>

                        <td class="footer__content-description-data">
                            <a href="">
                                Amazon Advertising
                            </a>
                            <span>
                                Find, attract and engage customers
                            </span>
                        </td>

                        <td class="footer__content-description-space"></td>

                        <td class="footer__content-description-data">
                            <a href="">
                                Amazon Advertising
                            </a>
                            <span>
                                Find, attract and engage customers
                            </span>
                        </td>

                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td class="footer__content-description-data">
                            <a href="">
                                Amazon Advertising
                            </a>
                            <span>
                                Find, attract and engage customers
                            </span>
                        </td>

                        <td class="footer__content-description-space"></td>

                        <td class="footer__content-description-data">
                            <a href="">
                                Amazon Advertising
                            </a>
                            <span>
                                Find, attract and engage customers
                            </span>
                        </td>

                        <td class="footer__content-description-space"></td>

                        <td class="footer__content-description-data">
                            <a href="">
                                Amazon Advertising
                            </a>
                            <span>
                                Find, attract and engage customers
                            </span>
                        </td>

                        <td class="footer__content-description-space"></td>

                        <td class="footer__content-description-data">
                            <a href="">
                                Amazon Advertising
                            </a>
                            <span>
                                Find, attract and engage customers
                            </span>
                        </td>

                        <td class="footer__content-description-space"></td>

                        <td class="footer__content-description-data">
                            <a href="">
                                Amazon Advertising
                            </a>
                            <span>
                                Find, attract and engage customers
                            </span>
                        </td>

                    </tr>                
                </tbody>
            </table>
        </nav>
        </div>

        <div id="footer_links_4" aria-label="" class="sr-only"></div>
        <div class="main-footer__content-cp-wrapper">
            <nav class="main-footer__content-cp" id="" aria-label="link area Privacy and conditions area">
                <a href="#main-footer" aria-label="return to the beginning of the footer" class="sr-only">repeat</a>
                <ul class="main-footer__content-cp-list" >
                    <li class="main-footer__content-cp-list-li"><a href="">Conditions of Use & Sale</a></li>
                    <li class="main-footer__content-cp-list-li"><a href="">Privacy Notice</a></li>
                    <li class="main-footer__content-cp-list-li"><a href="">Interest-Based Ads</a></li>
                </ul>
                <span>©1996–2023, Amazon.com, Inc. or its affiliates</span>
            </nav>
        </div>




    </footer>
    <a href="#main-footer" aria-label="return to the beginning of the footer" class="sr-only">repeat</a>

