#cst_dropDownMenu_sort_bar {
    transition: all 0.15s linear;
}

.menu_boxShadow {
    box-shadow: 0 2px 5px rgba(15,17,17,.15);
    -webkit-box-shadow: 0 2px 5px rgba(15,17,17,.15); 
    -moz-box-shadow: 0 2px 5px rgba(15,17,17,.15);
}